<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189346874561-cbljlapb890045j0m1ceff8qgff4q3sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189346874561-cbljlapb890045j0m1ceff8qgff4q3sa</string>
	<key>API_KEY</key>
	<string>AIzaSyDukCMr7JxqMm-ZliIgih9bEI9UnSKINgs</string>
	<key>GCM_SENDER_ID</key>
	<string>189346874561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportsloverdashboard</string>
	<key>PROJECT_ID</key>
	<string>sports-lovez-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-lovez-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189346874561:ios:689ca0a730d8fc0e55c040</string>
</dict>
</plist>